body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant SC', serif;
}

a,
button {
    cursor: pointer;
}

/*--------------
header-section-start 
---------------*/

.container {
    width: 80%;
    margin: auto;
    height: 600px;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
}

.header-text-area {
    width: 50%;
    float: left;

}

.header-text {
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 70px;
}

.header-text-area .header-title {
    color: white;
    font-size: 60px;
    margin-bottom: 0;
}

.header-text-area p {
    color: white;
    font-size: 20px;
}

.header-btn {
    padding: 15px 50px;
    font-size: 15px;
    border-radius: 10px;
    background-color: red;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}

.header-btn:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.header-text-area .fa-solid {
    color: white;
    font-size: 20px;
    margin-left: 13px;
}

.header-img-area {
    width: 50%;
    float: right;
    position: relative;
}

.header-img-area img {
    height: 550px;
    width: 500px;
    margin-top: 50px;
}


/*----------------
header-section-end
-----------------*/

/*----------------
main-section-start
-----------------*/

.main-content {
    width: 80%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;

}

.btn-group {
    width: 300px;
    height: 280px;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
}

.btn-group form {
    width: 220px;
    height: 300px;
    padding-top: 20px;
    margin-left: 10px;
}

.btn-group .btn {
    padding: 15px;
    display: block;
    width: 90%;
    margin: 20px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    text-align: center;
}

.btn-group .red-btn {
    background-color: red;
    color: white;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.blog {
    width: 280px;
    border: 1px solid burlywood;
    border-radius: 10px;
}

.blog .image-player {
    width: 100%;
}

.blog .blog-btn {
    padding: 5px 20px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid rgb(62, 61, 61);
    margin: 10px 15px;
    border-radius: 5px;
    color: black;
}

.blog h4 {
    font-size: 20px;
    color: black;
    font-weight: 900;
    margin: 0 15px;
}

.blog-info {
    display: flex;
    padding: 15px 10px;
}

.info-img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.info-span {
    font-size: 20px;
    margin-right: 20px;
}

/*----------------
main-section-end
-----------------*/

/*----------------
footer-section-start
-----------------*/
.footer-section {
    width: 100%;
    height: 400px;
    background-color: rgb(49, 44, 44);
    padding-top: 70px;
    margin-top: 80px;
}

.footer-text h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.footer-text hr {
    width: 70%;
    margin: auto;
}

.footer-text ul {
    list-style: none;
    text-align: center;
    margin-top: 70px;
}

.footer-text ul li {
    margin-left: 20px;
    display: inline;
    margin-right: 20px;
}

.footer-text ul li a {
    text-decoration: none;
    color: white;
    font-size: 25;
}

.social-icon {
    display: none;
}

/*-----footer-section-start------*/


/*-----responsive-css-start ------*/

@media screen and (min-width: 577px) and (max-width: 1100px) {

    .container {
        width: 100%;
        margin: auto;
        height: 600px;
        background-color: rgb(29, 29, 29);
        border-radius: 20px;
    }

    .header-text-area {
        width: 50%;
        margin-left: -50px;
    }

    .header-btn:hover {
        transform: scale(1.2);
        transition: 0.5s;
    }

    .main-content {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .btn-group {
        width: 100%;
        height: 150px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: transparent;
    }

    .btn-group form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }

    .btn-group form .btn {
        border: 1px solid rgb(163, 155, 155);
        font-size: 30px;
        height: 50px;
        width: 270px;
        margin-left: 0;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        margin-left: 8px;
    }

    .blog {
        width: 490px;
        height: auto;
    }

    .view {
        display: block;
        background-color: red;
    }

    .footer-text ul {
        height: 150px;
        padding: 0 30px;
        line-height: 50px;
        text-align: center;
    }

    .footer-text ul li {
        margin-left: 20px;
    }

    .footer-text ul li a {
        font-size: 25px;
    }

}





@media only screen and (max-width: 576px) {

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        display: block;
        margin-top: 25px;
        width: 100%;
        height: 480px;
    }

    .header-text {
        width: 200px;
        height: 400px;
        text-align: center;
    }

    .header-btn {
        margin: 0;
        padding: 10px;
        width: 70%;
        height: 50px;
        font-size: 15px;
    }

    .header-text .text {
        width: 200px;
        border: 2px soid black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
    }

    .header-text .header-title {
        font-size: 20px;
    }

    .header-img-area img {
        width: 200px;
        height: 250px;
        position: relative;
        top: 180px;
        right: 95px;
    }

    .main-content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }

    .btn-group {
        background-color: transparent;
        height: 250px;
        width: 80%;
        margin-left: 80px;
    }

    .btn-group .btn {
        border: 1px solid rgb(131, 127, 127);
        width: 55%;
        height: 22px;
        font-size: 15px;
        margin: 18px auto;
        font-size: 18px;
        display: block;
        text-align: center;
    }

    #top-btn {
        width: 75%;
        margin: auto;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        width: 98%;
        margin: auto;
    }

    .footer-section {
        width: 100%;
        height: auto;
    }

    .footer-text {
        margin-top: 60px;
    }

    .footer-text h1 {
        margin-top: -10px;
        font-size: 35px;
        color: white;
        margin-top: -60px;
    }

    .footer-text hr {
        width: 80%;
        margin: auto;
    }

    .footer-text ul {
        margin-top: 25px;
        padding-right: 14px;
    }

    .footer-text ul li {
        display: block;
        margin-top: 20px;
    }

    .social-icon {
        display: block;
        list-style: none;
        height: 40px;
        background-color: rgb(49, 44, 44);
        text-align: center;
        margin: 0;
    }

    .social-icon li {
        display: inline;
        margin-right: 13px;

    }

    .social-icon li a {
        font-size: 16px;
        color: white;
    }
}